
body {
	background-color: MistyRose;
}


/************* sidenav menu **********/

.sidenav {
	height: 80%;
	width: 130px;
	position: fixed;
	z-index: 1;				/* z-index specifies the stack order of an element. The greater the stack, the more in front it will be */
	bottom: 0;
	left: 0;
	background-color: transparent;
	overflow-x: hidden;		/* Do not horizontal scroll */
	padding-top: 50px;
}

/* side navigation menu links */
.sidenav menu {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 12;
	color: #262525;
	display: block;
}


/* change colour of navigation links when hovering over */
.sidenav menu:hover {
	color: #f1f1f1;
}


/******* Navigation Bar ********/
.navbar {
	overflow: hidden;
	background-color: transparent;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar a {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}