
body {
	background-color: MistyRose;
}


/************* sidenav menu **********/
.sidenav {
	height: 80%;
	width: 120px;
	position: fixed;
	z-index: 1;				/* z-index specifies the stack order of an element. The greater the stack, the more in front it will be */
	bottom: 0;
	left: 0;
	background-color: transparent;
	overflow-x: hidden;		/* Do not horizontal scroll */
	padding-top: 100px;
}

/* side navigation menu links */
.sidenav menu {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 12;
	color: #262525;
	display: block;
}


/* change colour of navigation links when hovering over */
.sidenav menu:hover {
	color: #f1f1f1;
}



/******************** Navigation Bar ****************/
.navbar {
	overflow: hidden;
	background-color: transparent;
	position: fixed;
	font-size: 16;
	top: 0;
	width: 120%;
}

.navbar a {
	float: right;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/*
.navbar a:hover {
    background: #ddd;
    color: black;
}
*/

.navbar-left {
	float: left;
	/*padding-left: 80px;*/
}



/********************** For the portfolio ********************/
.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}
