
body {
	background-color: MistyRose;
}

/******************** Navigation Bar ****************/
.navbar {
	overflow: hidden;
	background-color: transparent;
	position: fixed;
	/*font-size: 16;*/
	top: 0;
	width: 80%;
}

.navbar a {
	float: right;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar-left {
	float: left;
	padding-left: 80;
}

.navbar {
	min-height: 80px;
}

.navbar-brand {
	padding: 0 15px;
	height: 80px;
	line-height: 80px;
}

.navbar-toggle {
	/* (80px - button height 34px) / 2 = 23px */
	margin-top: 23px;
	padding: 9px 10px !important;
}

@media (min-width: 768px) {
	.navbar-nav > li > a {
		/* (80px - line-height of 27px) / 2 = 26.5px */
		padding-top: 26.5px;
		padding-bottom: 26.5px;
		line-height: 27px;
	}
}


/****************** all pages width *********************/
div.content {
	width: 400px;
}



/********************** For the portfolio ********************/
/*.row {
    display: -ms-flexbox; /* IE 10 */
/*    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
/*    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
/*.column {
    -ms-flex: 50%; /* IE 10 */
/*    flex: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}
